[defaults]

# (path) The password file to use for the become plugin. ``--become-password-file``.
# If executable, it will be run and the resulting stdout will be used as the password.
become_password_file=

# (path) The vault password file to use. Equivalent to ``--vault-password-file`` or ``--vault-id``.
# If executable, it will be run and the resulting stdout will be used as the password.
vault_password_file=

# (string) for the cases in which Ansible needs to return a file within an editor, this chooses the application to use.
editor=code

# (boolean) Toggles the use of persistence for connections.
use_persistent_connections=true

# Specify the inventory file
inventory = inventory/hosts.yml

# Define the directory for host and group variables
host_vars_inventory = inventory/host_vars
group_vars_inventory = inventory/group_vars

# Set the logging verbosity level
verbosity = 1

# Set the default user for SSH connections
remote_user = ansible

# Define the default become method
become_method = sudo

[persistent_connection]
# Controls how long the persistent connection will remain idle before it is destroyed
connect_timeout=30

# Controls the amount of time to wait for response from remote device before timing out persistent connection
command_timeout=30
